<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>G2babies - Careers</title>
    <link
      href="/styles/compiled/styles.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/scripts/scripts.js" defer></script>
  </head>
  <body class="dark:bg-gray-900 dark:text-gray-200" >
    <div class="header"></div>
    <div id="particles-js"></div>
    <div class="about-us"></div>
    <div class="footer"></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function () {
        $(".header").load("/misc/header", function() {
          loadNavBarContents();
          loadSideBarContents();
        });
        $(".about-us").load("articles/careers");
        $(".footer").load("/misc/footer");
      });
    </script>
    <!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

    <!-- partial -->
    <script src="scripts/particles.js"></script>
  </body>
</html>
